@media (max-width: 1000px) {
  #main-snow {
    top: 85px;
    left: 1px;
  }
}
@media (max-width: 930px) {
  #main-snow {
    max-width: 40px;
    top: 67px;
    left: -6px;
  }
}
@media (max-width: 780px) {
  #main-snow {
    max-width: 40px;
    top: 58px;
  }
}

@media (max-width: 691px) {
  #main-snow {
    display: none;
  }
  .nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .main {
    flex-direction: column-reverse;
  }
  .main-content {
    width: 70%;
    max-width: 330px;
    text-align: center;
    align-items: center;
    gap: 14px;
  }
  .main-content p {
    width: 72%;
  }
  .main-image {
    padding-inline: 30px;
  }

  .main-run {
    display: none;
  }

  .active-run {
    display: block;
  }

  .active-run h3:nth-child(1) {
    position: absolute;
    top: 98px;
    left: 17px;
  }
  .active-run h3:nth-child(2) {
    position: absolute;
    top: -35px;
    left: 124px;
  }
  .active-run h3:nth-child(3) {
    position: absolute;
    top: 13px;
    right: -41px;
  }

  .work-cart {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .active-run h3:nth-child(1) {
    position: absolute;
    top: 91px;
    left: 18px;
  }
  .active-run h3:nth-child(2) {
    position: absolute;
    top: -27px;
    left: 105px;
  }
  .acive-run h3:nth-child(3) {
    position: absolute;
    top: 28px;
    right: 20px;
  }
}

@media (max-width: 458px) {
  .active-run h3:nth-child(1) {
    position: absolute;
    top: 72px;
    left: 34px;
  }
  .active-run h3:nth-child(2) {
    position: absolute;
    top: -27px;
    left: 105px;
  }
  .acive-run h3:nth-child(3) {
    position: absolute;
    top: 15px;
    right: 12px;
  }
}

@media (max-width: 466px) {
  .main-content {
    width: 90%;
    max-width: 750px;
    text-align: center;
    align-items: center;
    gap: 14px;
  }
  .active-run h3:nth-child(1) {
    position: absolute;
    top: 63px;
    left: -25px;
  }
  .active-run h3:nth-child(2) {
    position: absolute;
    top: -27px;
    left: 97px;
  }
  .acive-run h3:nth-child(3) {
    position: absolute;
    top: 14px;
    right: -41px;
  }
}

@media (max-width: 397px) {
  .main-content {
    width: 100%;
    max-width: 300px;
    text-align: center;
    align-items: center;
    gap: 14px;
  }
  .active-run h3:nth-child(1) {
    position: absolute;
    top: 61px;
    left: -27px;
  }
  .active-run h3:nth-child(2) {
    position: absolute;
    top: -26px;
    left: 78px;
  }
  .acive-run h3:nth-child(3) {
    position: absolute;
    top: 11px;
    right: -37px;
  }
}

@media (max-width: 675px) {
  .lacus-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 820px) {
  .lacus-content img {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 860px) {
  .work-cart {
    justify-content: center;
  }
}
