* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @meadia (max-width: 500px;) {
    padding-inline: 40px;
  }
}

body {
  background-color: #010101;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #fff;
  font-weight: 500;
}

/* .btn-block button:first-child {
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Orbitron, sans-serif;
  color: #ffffff;
  font-weight: 500;
}

h1 span {
  font-family: Orbitron, sans-serif;

  background: rgb(171, 159, 246);
  background: linear-gradient(
    90deg,
    rgba(171, 159, 246, 1) 42%,
    rgba(119, 193, 246, 1) 65%,
    rgba(101, 205, 245, 1) 100%
  );
  color: transparent;
  background-clip: text;
  /* background: rgb(209, 14, 209);
  background: linear-gradient(
    90deg,
    rgba(209, 14, 209, 1) 31%,
    rgba(137, 29, 253, 1) 51%,
    rgba(16, 163, 218, 1) 65%
  ); */
}

p,
a {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffff;
}

/* ? HEADER START */

#header {
  padding-block: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header h1 {
  font-size: clamp(1.125rem, 0.92rem + 1.02vw, 1.688rem);
}

.nav {
  width: 100%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.burger-menu {
  display: none;
}

.burger-menu ion-icon {
  font-size: clamp(1.313rem, 1.153rem + 0.8vw, 1.75rem);
  color: #fff;
}
/* ? HEADER END */

/* ? MAIN START */
#main {
  padding-block: 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.main-image {
  position: relative;
  max-width: 450px;
}

.main-image img {
  width: 100%;
}

#main-snow {
  position: absolute;
  width: 100%;
  max-width: 50px;
  top: 100px;
  left: -10px;
}

.main-content {
  width: 100%;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content h1 {
  width: 100%;
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
}

.main-content p {
  width: 100%;
  max-width: 390x;
  font-size: clamp(0.813rem, 0.722rem + 0.45vw, 1.063rem);
}

.main-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-btn button {
  padding: 10px 22px;

  /* 3 */
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  span {
    position: relative;
    z-index: 1;
  }
  /*  Градиентная рамка */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px; /* Толщина градиента */
    background: linear-gradient(90deg, #ff0080, #0078ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  /*  Hover эффект */
  &:hover {
    background: linear-gradient(90deg, #ff0080, #0078ff);
    color: black;
    &:before {
      background: linear-gradient(90deg, black, black);
    }
  }
}

.main-run {
  width: 100%;
  max-width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-run h3 {
  /* font-style: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem); */
  font-size: clamp(0.5rem, 0.364rem + 0.68vw, 0.875rem);
}
.main-run h3 span {
  /* font-style: clamp(0.75rem, 0.659rem + 0.45vw, 1rem); */
  font-size: clamp(0.5rem, 0.455rem + 0.23vw, 0.625rem);
  font-weight: 300;
}

.active-run {
  display: none;
}

.active-run h3 {
  font-style: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
}
.active-run h3 span {
  font-style: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 300;
}
