* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @meadia (max-width: 500px;) {
    padding-inline: 40px;
  }
}

body {
  background-color: #010101;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #fff;
  font-weight: 500;
}

/* .btn-block button:first-child {
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Orbitron, sans-serif;
  color: #ffffff;
  font-weight: 500;
}

h1 span {
  font-family: Orbitron, sans-serif;

  background: rgb(171, 159, 246);
  background: linear-gradient(
    90deg,
    rgba(171, 159, 246, 1) 42%,
    rgba(119, 193, 246, 1) 65%,
    rgba(101, 205, 245, 1) 100%
  );
  color: transparent;
  background-clip: text;
  /* background: rgb(209, 14, 209);
  background: linear-gradient(
    90deg,
    rgba(209, 14, 209, 1) 31%,
    rgba(137, 29, 253, 1) 51%,
    rgba(16, 163, 218, 1) 65%
  ); */
}

p,
a {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffff;
}

/* ? HEADER START */

#header {
  padding-block: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header h1 {
  font-size: clamp(1.125rem, 0.92rem + 1.02vw, 1.688rem);
}

.nav {
  width: 100%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.burger-menu {
  display: none;
}

.burger-menu ion-icon {
  font-size: clamp(1.313rem, 1.153rem + 0.8vw, 1.75rem);
  color: #fff;
}
/* ? HEADER END */

/* ? MAIN START */
#main {
  padding-block: 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.main-image {
  position: relative;
  max-width: 450px;
}

.main-image img {
  width: 100%;
}

#main-snow {
  position: absolute;
  width: 100%;
  max-width: 50px;
  top: 100px;
  left: -10px;
}

.main-content {
  width: 100%;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content h1 {
  width: 100%;
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
}

.main-content p {
  width: 100%;
  max-width: 390x;
  font-size: clamp(0.813rem, 0.722rem + 0.45vw, 1.063rem);
}

.main-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-btn button {
  padding: 10px 22px;

  /* 3 */
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  span {
    position: relative;
    z-index: 1;
  }
  /*  Градиентная рамка */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px; /* Толщина градиента */
    background: linear-gradient(90deg, #ff0080, #0078ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  /*  Hover эффект */
  &:hover {
    background: linear-gradient(90deg, #ff0080, #0078ff);
    color: black;
    &:before {
      background: linear-gradient(90deg, black, black);
    }
  }
}

.main-run {
  width: 100%;
  max-width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-run h3 {
  font-style: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
  /* font-size: clamp(0.5rem, 0.364rem + 0.68vw, 0.875rem); */
}
.main-run h3 span {
  font-style: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  /* font-size: clamp(0.5rem, 0.455rem + 0.23vw, 0.625rem); */
  font-weight: 300;
}

.active-run {
  display: none;
}

.active-run h3 {
  font-style: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
}
.active-run h3 span {
  font-style: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 300;
}

/* ? MAIN END */

/* ? LACUS START */

#lacus {
  padding-block: 60px;
}

.lacus-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.lacus-content img {
  width: 100%;
  max-width: 450px;
}

.lacus-text {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lacus-text h1 {
  width: 100%;
  font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
  font-weight: 500;
}

.lacus-text p {
  width: 100%;
  max-width: 450px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffffb6;
  font-weight: 300;
  line-height: 25px;
}

.lacus-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lacus-btn button {
  padding: 10px 22px;
  font-weight: 400;
  /* 3 */
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
}

/* ? LACUS END */

/* ? WORK START*/

#work {
  padding-block: 60px;
}

.text-work {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text-work h1 {
  width: 100%;
  max-width: 650px;
  font-size: clamp(1.75rem, 1.591rem + 0.8vw, 2.188rem);
  font-weight: 500;
  text-align: center;
}

.text-work p {
  width: 100%;
  max-width: 550px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffffb6;
  text-align: center;
  font-weight: 300;
  line-height: 25px;
}

.work-cart {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.work-cart .cart {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart {
  width: 100%;
  max-width: 370px;
  padding: 15px 20px;
  background: #090823;
  display: flex;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.cart h3 {
  font-size: clamp(1.063rem, 0.994rem + 0.34vw, 1.25rem);
  font-weight: 500;
}

.cart p {
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
  font-weight: 300;
}
.work-btn {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.work-btn button {
  padding: 10px 22px;
  font-weight: 400;
  /* 3 */
  background: linear-gradient(
    158.4deg,
    rgb(209, 14, 209) 10.9%,
    rgb(16, 163, 218) 88.221%
  );
}

.gradient-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
  position: relative;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  span {
    position: relative;
    z-index: 1;
  }
  /*  Градиентная рамка */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px; /* Толщина градиента */
    background: linear-gradient(90deg, #ff0080, #0078ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  /*  Hover эффект */
  &:hover {
    background: linear-gradient(90deg, #ff0080, #0078ff);
    color: black;
    &:before {
      background: linear-gradient(90deg, black, black);
    }
  }
}
/* ? WORK END */

/* ? CAROUSEL START */

#carousel {
  padding-block: 60px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.carousel-content h1 {
  /* width: 100%;
  max-width: 650px; */
  font-size: clamp(1.75rem, 1.591rem + 0.8vw, 2.188rem);
  font-weight: 500;
  text-align: center;
}

.carousel-content p {
  width: 100%;
  max-width: 480px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffffb6;
  text-align: center;
  font-weight: 300;
  line-height: 20px;
}
/* ? CAROUSEL END */

/* ? SLADER START */

.slider {
  width: 100%;
  margin: auto;
  position: relative;

  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-tack {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

.carousel-img {
  width: 100%;
  width: 1300px;
  display: flex;
  align-items: center;
  padding-bottom: 150px;
  perspective: 800px;
}

.carousel-img img {
  width: 80%;
  transition: transform 1s;
}
.carousel-img img:hover {
  transform: translateZ(20px);
}

.carousel-img::before,
.carousel-img::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0% rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.carousel-img::after {
  transform: rotateZ(180deg);
}
/* ? SLADER END */

/* ? MetaV START*/
#MetaV {
  padding-block: 70px;
  background: #090823;
}

.MetaV-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.MetaV-content h1 {
  background: rgb(171, 159, 246);
  background: linear-gradient(
    90deg,
    rgb(172, 161, 242) 15%,
    rgb(126, 196, 247) 15%,
    rgba(101, 205, 245, 1) 100%
  );

  color: transparent;
  background-clip: text;
}

.MetaV-content p {
  width: 100%;
  max-width: 400px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffffb6;
  font-weight: 300;
  line-height: 25px;
}

.metav-text {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.service {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.contact .logo {
  display: flex;
  gap: 23px;
}
.contact .logo img {
  width: 100%;
  max-width: 35px;
  padding: 1px;
}

.contact p {
  width: 100%;
  max-width: 250px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  color: #ffffffb6;
  font-weight: 300;
  line-height: 20px;
}
/* ? MetaV END */
